# 📦 Build Artifacts
dist
dist-ssr

# 🧹 Temporary Folders
temp
tmp

# 🔐 Environment Variables
.env*
!.env.example

# 💻 Local
*.local

# 🧩 Node Modules
# Some libraries creates the folder like vite
node_modules

# 🌐 Translation from Google Sheet
src/i18n/locales.json
